@{
    ViewData["Title"] = "Home Page";
}
<div id="hero">
    <img src="/img/background.jpg" alt="Background Image">

    <div class="hero-content">
        <h1>Твоя наступна пригода починається тут</h1>
        <p>Подорожуй разом з нашою туристичною агенцією та відкрий нові горизонти</p>
        <button class="button">Переглянути тури</button>
    </div>
</div>
